<?xml version="1.0"?>
<config>
	<modules>
		<Netlogiq_AddRemoveLink>
			<version>0.1.0</version>
		</Netlogiq_AddRemoveLink>
	</modules>
	<global>
		<blocks>
            <customer>
                <rewrite>
                    <account_navigation>Netlogiq_AddRemoveLink_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
		<helpers>
			<addremovelink>
				<class>Netlogiq_AddRemoveLink_Helper</class>
			</addremovelink>
			<catalog>
				<rewrite>
					<output>Netlogiq_AddRemoveLink_Helper_Data</output>
				</rewrite>
			</catalog>
		</helpers>
		<resources>
			<addremovelink_setup>
				<setup>
					<module>Netlogiq_AddRemoveLink</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</addremovelink_setup>
			<addremovelink_write>
				<connection>
					<use>core_write</use>
				</connection>
			</addremovelink_write>
			<addremovelink_read>
				<connection>
					<use>core_read</use>
				</connection>
			</addremovelink_read>
		</resources>
	</global>
</config> 