<?xml version="1.0"?>
<!-- 
/**
 * @category   Technooze
 * @package    Technooze_Brands
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Technooze_Brands>
            <version>0.1.0</version>
        </Technooze_Brands>
    </modules>
    <frontend>
        <routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>Technooze_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>
        <layout>
            <updates>
                <brands>
                    <file>brands.xml</file>
                </brands>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<brands>
				<use>admin</use>
				<args>
					<module>Technooze_Brands</module>
					<frontName>brands</frontName>
				</args>
			</brands>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>
				<children>
					<brands module="brands">
						<title>Brands</title>
						<sort_order>20</sort_order>               
						<children>
							<items module="brands">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>brands/adminhtml_brands</action>
							</items>
						</children>
					</brands>
				</children>
			</catalog>
		</menu>
		<layout>
			<updates>
				<brands>
					<file>brands.xml</file>
				</brands>
			</updates>
		</layout>
        <events>
            <catalog_category_save_after>
                <observers>
                    <brands_save_category_data>
                        <type>singleton</type>
                        <class>brands/observer</class>
                        <method>saveCategoryTabData</method>
                    </brands_save_category_data>
                </observers>
            </catalog_category_save_after>
        </events>
    </adminhtml>
    <global>
        <models>
            <brands>
                <class>Technooze_Brands_Model</class>
                <resourceModel>brands_mysql4</resourceModel>
            </brands>
            <brands_mysql4>
                <class>Technooze_Brands_Model_Mysql4</class>
                <entities>
                    <brands>
                        <table>brands</table>
                    </brands>
                    <categories>
                        <table>brands_categories</table>
                    </categories>
                </entities>
            </brands_mysql4>
        </models>
        <resources>
            <brands_setup>
                <setup>
                    <module>Technooze_Brands</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brands_setup>
            <brands_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brands_write>
            <brands_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brands_read>
        </resources>
        <blocks>
            <brands>
                <class>Technooze_Brands_Block</class>
            </brands>
            <adminhtml>
                <rewrite>
                    <catalog_category_tabs>Technooze_Brands_Block_Adminhtml_Catalog_Category_Tabs</catalog_category_tabs>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <brands>
                <class>Technooze_Brands_Helper</class>
            </brands>
        </helpers>
    </global>
</config>